
####################
# OUTPUT
####################

# Write video description to a .description file.
--write-description

# Write thumbnail image to disk.
--write-thumbnail

# Write metadata to the video file.
--add-metadata

# Prefer ffmpeg over avconv for running the postprocessors.
--prefer-ffmpeg

# If a merge is required output to given container format. 
# Ignored if no merge is required.
--merge-output-format mkv



####################
# SUBTITLES
####################

# Write subtitle file.
--write-sub

# Download all the available subtitles of the video.
--all-subs

# Convert the subtitles to other format.
--convert-subs srt



####################
# NETWORK
####################

# Suppress HTTPS certificate validation.
--no-check-certificate

# Abort downloading when some fragment is not available.
--abort-on-unavailable-fragment

--max-filesize 1G



####################
# META
####################

# Do not print progress bar.
--no-progress

# Print various debugging information.
--verbose